@import 'tailwindcss';

@theme {
  /* Definimos la animación vinculada a los keyframes */
  --animate-blink: blink 1s ease-in-out infinite;

  /* Definimos los keyframes de la animación */
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
